@{
    ViewData["Title"] = "Download";
}

<div class="top-container">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 id="setup">Download</h1>
                <p>Download the latest version of jQWidgets Bootstrap Tag Helpers.</p>
                <bootstrap-button element="a" type="button" id="downloadButton" class="btn btn-primary" link="jQWidgetsBootstrapTagHelpers.zip" target="_blank">Download</bootstrap-button> 
                <bootstrap-button element="a" type="button" id="downloadButton" class="btn btn-primary" link="https://github.com/" target="_blank">GitHub</bootstrap-button>
            </div>
        </div>
    </div>
</div>

