<bootstrap-nav-bar>
    <bootstrap-nav-bar-header>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Brand</a>
    </bootstrap-nav-bar-header>
    <bootstrap-nav-bar-collapse>
        <p class="navbar-text">Signed in as Mark Otto</p>
    </bootstrap-nav-bar-collapse>
</bootstrap-nav-bar>