<bootstrap-thumbnail>
    <img src="http://www.fromoldbooks.org/DulckenHistoryOfRome/pages/164-Combat-of-Gladiators-with-Wild-Animals-detail-head-to-head/164-Combat-of-Gladiators-with-Wild-Animals-detail-head-to-head-q75-319x200.jpg" style="width: 100%;" alt="illustration" />
    <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
    </div>
</bootstrap-thumbnail>