<bootstrap-pagination>
    <bootstrap-pagination-item><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></bootstrap-pagination-item>
    <bootstrap-pagination-item><a href="#">1</a></bootstrap-pagination-item>
    <bootstrap-pagination-item><a href="#">2</a></bootstrap-pagination-item>
    <bootstrap-pagination-item><a href="#">3</a></bootstrap-pagination-item>
    <bootstrap-pagination-item><a href="#">4</a></bootstrap-pagination-item>
    <bootstrap-pagination-item><a href="#">5</a></bootstrap-pagination-item>
    <bootstrap-pagination-item><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></bootstrap-pagination-item>
</bootstrap-pagination>