<!DOCTYPE html>
<html>
<head>
    <title>Introduction to ASP.NET MVC 6 Tag Helpers</title>
    <meta charset="utf-8" />
    <style type="text/css">
        .code {
            background-color: #EFF0F1;
        }

        .dom-html {
            display: block;
            margin: 10px 0px 10px 0px;
        }
    </style>
    <script type="text/javascript" src="../scripts/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../scripts/format.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $.get('code-_ViewImports.htm', function (data) {
                $('#codeSample1').html(formatCode(data));
            }, 'text');
            $.get('code-HomeController.htm', function (data) {
                $('#codeSample2').html(formatCode(data));
            }, 'text');
            $.get('code-project-menu.htm', function (data) {
                $('#codeSample3').html(formatCode(data));
            }, 'text');
            $.get('code-anchor-tag-helper.htm', function (data) {
                $('#codeSample4').html(formatCode(data));
            }, 'text');
            $.get('code-image-tag-helper.htm', function (data) {
                $('#codeSample5').html(formatCode(data));
            }, 'text');
        });
    </script>
</head>
<body>
    <h2>Introduction to ASP.NET MVC 6 Tag Helpers</h2>
    <p>Tag Helpers are a feature introduced in ASP.NET MVC 6. The purpose of Tag Helpers is to enable server-side code to participate in creating and rendering HTML elements in Razor files.</p>
    <p>Tag Helpers have some key advantages in contrast to HTML Helpers, the previous approach to server-side creation of markup in Razor views. Some of them are:</p>
    <ul>
        <li>Razor markup using Tag Helpers looks like standard HTML;</li>
        <li>IntelliSense support;</li>
        <li>Useful built-in Tag Helpers;</li>
        <li>Custom Tag Helpers can be implemented.</li>
    </ul>
    <h3>Enabling Tag Helpers</h3>
    <p>In order to demonstrate the use of Tag Helpers, we will create an ASP.NET MVC 6 project. Open Microsoft Visual Studio and click <strong>File</strong> → <strong>New</strong> → <strong>Project</strong>. From the <strong>New Project</strong> window, choose <strong>ASP.NET Core Web Application (.NET Core)</strong>:</p>
    <img src="images/project-type-selection.png" />
    <p>In the subsequent window, select the <strong>Web Application</strong> template:</p>
    <img src="images/project-template-selection.png" />
    <p>Tag Helpers are automatically enabled in our new project with the following line of code in the file <code>_ViewImports.cshtml</code> (located in the <code>Views</code> folder):</p>
    <div id="codeSample1">
    </div>
    <h3>Using Built-in Tag Helpers</h3>
    <p>There are many built-in Tag Helpers for common tasks - such as creating forms, links, loading assets, etc. Here, we will demonstrate the use of two of these - the Anchor and Image Tag Helpers.</p>
    <p>In the <code>Views\Home</code> folder, create a new <strong>MVC View Page</strong> called <code>TagHelpersTest.cshtml</code>. In it, we will add the Tag Helpers in question. Add the following class to the controller <code>HomeController.cs</code> (in the <code>Controllers</code> folder):</p>
    <div id="codeSample2">
    </div>
    Include the test page in the menu of our web application by adding a &lt;li&gt; in the relevant place in the file <code>_Layout.cshtml</code> (in <code>Views</code>):
    <div id="codeSample3">
    </div>
    <h4>Anchor Tag Helper</h4>
    <p>The Anchor Tag Helper automatically generates a <strong>href</strong> attribute linking to a specified controller action for the anchor tag it is "activated" from. The use of this Tag Helper depends on the attributes <strong>asp-controller</strong> and <strong>asp-action</strong>.</p>
    <p>In our test page, we will add a link to the page "About" by including the following Tag Helper:</p>
    <div id="codeSample4">
    </div>
    Here is the HTML generated by the Tag Helper:
    <img src="images/anchor-tag-helper.png" class="dom-html" />
    <h4>Image Tag Helper</h4>
    <p>The main purpose of the Image Tag Helper is to aggressively cache an image without worrying about updated images not being sent to the client. The Image Tag Helper is "activated" if the <strong>asp-append-version</strong> attribute is set to <em>true</em> for an &lt;img&gt; tag. If we add the Image Tag Helper to our page:</p>
    <div id="codeSample5">
    </div>
    the following HTML will be generated:
    <img src="images/image-tag-helper.png" class="dom-html" />
    The <strong>v</strong> parameter is calculated based on the contents of the image file. If the contents of the image changes, the value of the parameter will change. This will force the browser to download the new version of the file, even if the old version has been cached.
    <div style="margin-bottom:300px;"></div>
</body>
</html>
